<h1 class="mb-4">Properties</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>Total Monthly Rent</th>
    </tr>
  </thead>
  <tbody>
    <% @property_presenters.each do |property_presenter| %>
      <tr class="property-item">
        <td><%= link_to property_presenter.name, property_path(property_presenter) %></td>
        <td><%= property_presenter.country %></td>
        <td><%= property_presenter.total_monthly_rent %></td>
      </tr>
    <% end %>
  </tbody>
</table>
