<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>Monthly Rent</th>
    </tr>
  </thead>
  <tbody>
    <% @properties.each do |property| %>
      <tr class="property-item">
        <td><%= property.name %></td>
        <td><%= property.country %></td>
        <td><%= property.monthly_rent %></td>
      </tr>
    <% end %>
  </tbody>
</table>
