<% content_for :page_title, 'Landing page' %>

<h2>Landing page</h2>

<p class="lead">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae commodi debitis delectus eligendi enim ex fugit incidunt libero, minus officia perferendis porro possimus quam quidem sapiente, sunt, veniam voluptas voluptate?
</p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad beatae corporis deleniti eos eveniet excepturi labore mollitia nesciunt non nostrum obcaecati, possimus quidem temporibus vel velit voluptas voluptatum! Id, voluptatum?
</p>