# NOTE: This sample file is **NOT** comprehensive. If there are well-defined
# and necessary environment variables that are both universally relevant and
# publicly accessible/shareable they can be included here, otherwise see the
# README#environment-variables section.
DATABASE_URL: 'postgres://localhost:5432/rails_new_development'
HOST: 'http://localhost:3000'
RAILS_MAX_THREADS: '5'
WEB_CONCURRENCY: '1'
REDIS_URL: 'redis://localhost:6379'
RAILS_SYSTEM_TESTING_SCREENSHOT: 'inline'

# When using Docker use this instead:
# DATABASE_URL: 'postgres://postgres@postgres:5432/rails_new_development'
# RAILS_LOG_TO_STDOUT: 'true'
# REDIS_URL: 'redis://redis:6379'

test:
  DATABASE_URL: 'postgres://localhost:5432/rails_new_test'
  # When using Docker use this instead:
  # DATABASE_URL: 'postgres://postgres@postgres:5432/rails_new_test'
  # RAILS_LOG_TO_STDOUT: 'false'
